doctype html
html 
   head 
      title Rashmi Dance Academy 
      block scripts 
      block style 
   body
      nav#navbar
        ul 
           div#logo  
              img(src="/static/dancelogo.jpg") 
           li #[a(href="/") Home] 
           li #[a(href="/") About ]
           li #[a(href="/") Services] 
           li #[a(href="/") ClassInfo]
           li #[a(href="/") Contact]

      block content 
      footer#footer 
         | Copyright 2019 RashmiDanceAcademy.com All rights reserved.     
